body {
  margin: 0;
  background: linear-gradient(135deg, #000000, #51535a);
  font-family: 'Arial', sans-serif;
  color: #f0e6db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 1s ease;
}

.container {
  text-align: center;
}

.profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.links a {
  display: block;
  background-color: #1a2a3f; /* daha koyu gece mavisi */
  color: #cfdff6; /* açık mavi yazı */
  margin: 10px auto;
  padding: 10px 20px;
  width: 200px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

.links a:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
  background-color: #334b7a; /* hover için biraz daha açık mavi ton */
}

.footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #d0bfa3;
}

.bio {
  margin: 10px 0;
  font-size: 1em;
}
